<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>PicTweet</title>
</head>
<body>

<div th:insert="~{header :: header}"></div>

<div class="contents row">
    <div class="container">
        <h3>投稿する</h3>
        <div th:if="${errorMessages}" th:each="error : ${errorMessages}">
            <div th:text="${error}"></div>
        </div>
        <form th:action="@{/tweets}" th:object="${tweetForm}" method="post">
            <div th:insert="~{tweets/form :: form}"></div>
        </form>
    </div>
</div>
</body>
</html>
