<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <title>PicTweet</title>
</head>
<body>

<div th:insert="~{header :: header}"></div>

<div class="contents row">
    <div class="container">
        <h2>Log in</h2>
        <p th:if="${param.error}" class="login-error" th:text="${loginError}"></p>

        <!-- Spring Securityの/loginエンドポイントに対するPOSTリクエストを行うフォーム -->
        <form method="post" th:action="@{/login}" class="new_user">

            <div class="field">
                <label class="column-title">Email</label><br />
                <!-- usernameは通常、emailにマップされます -->
                <input type="text" id="email" name="email" autofocus="autofocus" required="required" />
            </div>


            <div class="field">
                <label class="password">Password</label><br />
                <input type="password" name="password" required="required" autocomplete="off" />
            </div>


            <div class="actions">
                <input type="submit">
            </div>
        </form>
    </div>
</div>

<div th:insert="~{footer :: footer}"></div>

</body>
</html>
